<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 class="mb-4">Add Tasks</h1>
      <%= form_with model: @task do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :details %>
        <%= f.text_field :details %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
